<footer
  class="site-footer"
  style="background-color: rgb(61, 64, 91); color: white"
>
  <div class="container py-2">
    <div class="row g-5">
      <!-- Logo & Address -->
      <div class="col-lg-3 col-md-6">
        <a
          class="navbar-brand d-flex align-items-center mb-4"
          href="index.html"
        >
          <img
            src="images/logo.png"
            class="navbar-brand-image img-fluid"
            alt=""
            style="max-width: 60px"
          />

          <span class="navbar-brand-text text-white ms-2">
            Big Data
            <small class="d-block text-light">BPS Halmahera Timur</small>
          </span>
        </a>

        <p class="mb-3 d-flex align-items-start">
          <i class="bi-geo-alt-fill me-3 mt-1"></i>
          <a
            href="https://maps.app.goo.gl/1WGKFoECEK2Sv7wJ6"
            target="_blank"
            rel="noopener noreferrer"
          >
            Jl. Transhalmahera Soagimalaha
          </a>
        </p>

        <p class="mb-3 d-flex align-items-center">
          <i class="bi-envelope-fill me-3"></i>
          <a
            href="mailto:bps8206@bps.go.id"
            target="_blank"
            rel="noopener noreferrer"
          >
            bps8206@bps.go.id
          </a>
        </p>

        <div class="d-flex gap-2">
          <a
            href="http://instagram.com/bpshaltim/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-light btn-sm"
          >
            <i class="bi-instagram"></i>
          </a>

          <a
            href="https://www.tiktok.com/@bpshaltim"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-light btn-sm"
          >
            <i class="bi-tiktok"></i>
          </a>

          <a
            href="https://www.facebook.com/share/1dFV9xotvx/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-light btn-sm"
          >
            <i class="bi-facebook"></i>
          </a>

          <a
            href="https://x.com/bpshaltim"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-light btn-sm"
          >
            <i class="bi bi-twitter-x"></i>
          </a>

          <a
            href="https://www.threads.com/@bpshaltim"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-light btn-sm"
          >
            <i class="bi-threads"></i>
          </a>

          <a
            href="https://www.youtube.com/@bpshaltim"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-outline-light btn-sm"
          >
            <i class="bi-youtube"></i>
          </a>
        </div>
      </div>

      <!-- Services -->
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">About Us</h5>

        <ul class="list-unstyled">
          <li>
            <a
              href="https://ppid.bps.go.id/app/konten/8206/Profil-BPS.html"
              class="text-light text-decoration-none"
              >Profil BPS</a
            >
          </li>
          <li>
            <a
              href="https://haltimkab.bps.go.id/"
              class="text-light text-decoration-none"
              >Web BPS Haltim</a
            >
          </li>
          <li>
            <a
              href="https://ppid.bps.go.id/"
              class="text-light text-decoration-none"
              >PPID</a
            >
          </li>
          <li>
            <a
              href="https://ppid.bps.go.id/app/konten/0000/Layanan-BPS.html"
              class="text-light text-decoration-none"
              >Kebijakan Diseminasi</a
            >
          </li>
        </ul>
      </div>

      <!-- Quick Links -->
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a
              href="https://www.aseanstats.org/"
              class="text-light text-decoration-none"
              >ASEAN Stats</a
            >
          </li>
          <li>
            <a
              href="https://rb.bps.go.id/"
              class="text-light text-decoration-none"
              >Reformasi Birokrasi</a
            >
          </li>
          <li>
            <a
              href="https://www.stis.ac.id/"
              class="text-light text-decoration-none"
              >Politeknik Statistika STIS</a
            >
          </li>
          <li>
            <a
              href="https://pusdiklat.bps.go.id/"
              class="text-light text-decoration-none"
              >Pusdiklat BPS</a
            >
          </li>
          <li>
            <a
              href="https://jdih.web.bps.go.id/"
              class="text-light text-decoration-none"
              >JDIH BPS</a
            >
          </li>
        </ul>
      </div>

      <!-- Newsletter -->
      <div class="col-lg-3 col-md-6">
        <h5 class="text-white mb-4">Big Data Insight</h5>

        <p class="text-light">
          The utilization of Big Data to support development planning and evidence-based decision making for regional development.
        </p>
      </div>
    </div>

    <!-- Copyright -->
    <div
      class="d-flex justify-content-center align-items-center pt-3 pb-3 mt-4 border-top border-secondary"
    >
      <p class="mb-0 text-light text-center">© 2026 FM. All Rights Reserved.</p>
    </div>
  </div>
</footer>
